.crystal-image {
    width: 115px;
    height: 115px;
    margin-left: 10px;
}

#crystals {
    margin-top: 20px;
}

#instructions {
    margin-top: 15px;

}

#wins {
    font-weight: bold;
}

#losses {
    font-weight: bold;
}

#losses {}

#score {
    font-weight: bold;
}

#randomNumber {
    font-weight: bold;
}

.score {
    margin-top: 20px;
    margin-bottom: 20px;
}

#winText {
    display: none;
}



h1 {
    padding: 10px;
}